/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #FFFFFF;
    font-size: 1.2em;
    line-height: 1.6;
    background: #111111;
    font-family: 'Raleway', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* NAV STYLES */
.nav {
    position: sticky;
    top: 0;
    background: #111111;
    height: 10vh;
}

.logo {
    background: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    flex-grow: 1;
}

.hi {
    margin-left: 1em;
}

.nav > a {
    padding: 1.2em;
}

/* FOOTER STYLES */
.foot {
    background-color: #4c8695;
    justify-content: space-between;
    font-size: 1em;
    height: 8vh !important;
}

.totop {
    flex-grow: 1;
    text-align: center;
}


/* HOMEPAGE STYLES */
#home-page {
    overflow: scroll;
    height: 90vh;
    scroll-snap-type: y mandatory;
}

#home-page section {
    scroll-snap-align: end;
    height: 90vh;
}

#getintouch {
    background-image: url('../img/getintouch.svg');
    height: 50%;
}

/* MAST STYLES */
#mast {
    flex-flow: column;
    justify-content: center;
}

#intro {
    width: 100%;
    height: 50%;
    padding: 25vh 0 0 0;
}

.blink {
    animation: blink 0.5s infinite;
    color: #77AFBD;
}

@keyframes blink {
    to {
        opacity: .0;
    }
}


/* PROJECT STYLES */
.proj-img {
    width: 35%;
    height: 65%;
    margin: 0 10% 0 5%;
}

.project-1 h5,
.project-1 .btn {
    color: #FFB44D;
    border-color: #FFB44D;
}

.project-1 .btn:hover {
    color: #111111;
    background: #FFB44D;
}

#proj-img-1 {
    background-image: url(../img/proj1.svg);
}

.project-2 h5,
.project-2 .btn {
    color: #D96086;
    border-color: #D96086;
}

.project-2 .btn:hover {
    color: #111111;
    background: #D96086;
}

#proj-img-2 {
    background-image: url(../img/proj2.svg);
}

.project-3 h5,
.project-3 .btn {
    color: #5C8A52;
    border-color: #5C8A52;
}

.project-3 .btn:hover {
    color: #111111;
    background: #5C8A52;
}

#proj-img-3 {
    background-image: url(../img/proj3.svg);
}

.project-4 h5,
.project-4 .btn {
    color: #F0B561;
    border-color: #F0B561;
}

.project-4 .btn:hover {
    color: #111111;
    background: #F0B561;
}

#proj-img-4 {
    background-image: url(../img/proj4.png);
}

.project-5 h5,
.project-5 .btn {
    color: #98a6c4;
    border-color: #98a6c4;
}

.project-5 .btn:hover {
    color: #111111;
    background: #98a6c4;
}

#proj-img-5 {
    background-image: url(../img/proj5.png);
}

.project-6 h5,
.project-6 .btn {
    color: #d62029;
    border-color: #d62029;
}

.project-6 .btn:hover {
    color: #111111;
    background: #d62029;
}

#proj-img-6 {
    background-image: url(../img/proj6.png);
}


/* ABOUT & CONTACT PAGE STYLES */
#about-me,
#contact-me {
    flex-flow: column;
    padding: 10vh 10vw;
}

#about-intro,
#contact-intro {
    width: 100%;
    display: flex;
    flex-flow: row;
    margin-bottom: 10%;
}

#about-img {
    height: auto;
    background-image: url('../img/me.jpeg');
}

#about-summary {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}

#about-summary,
#about-summary p {
    color: #000000;
    text-align: center;
}

#about-summary p {
    padding: 0;
    margin: 0;
}

#about-summary ion-icon {
    font-size: 2em;
    background: #77AFBD;
    color: #FFFFFF;
    border: 2px solid #77AFBD;
    border-radius: 3rem;
    padding: 0.5em;
}

#skills {
    border-radius: 2rem 0 0 2rem;
}

#software {
    border: 2px #3d5055;
    border-style: none solid none solid;
}

#languages {
    border-radius: 0 2rem 2rem 0;
}

#about-summary .card {
    flex-flow: column;
    align-items: center;
    width: 30%;
}

#socials-section {
    padding: 10vh 10vw;
}

#socials {
    display: flex;
    flex-direction: row;
}

#socials a {
    font-size: 1.5em;
    color: #77AFBD;
    border: 2px solid #77AFBD;
    border-radius: 5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
}

#socials a:hover {
    color: #111111;
}

#socials-img {
    background-image: url('../img/socials.svg');
    height: 50vh;
}

#getintouch,
#about-img,
#socials-img,
#contact-img,
.projtopimg,
.desc2 {
    width: 40%;
    margin-left: 10%;
}


/* CONTACT FORM STYLES */
#contact-img {
    background-image: url('../img/sayhi.svg');
    height: 40vh;
}

#contact-form {
    width: 90%;
    border-radius: 2rem;
    color: black;
    text-align: center;
}

form {
    width: 100%;
}

form .btn {
    background: #FFFFFF;
    padding: 1.25rem 2rem;
}

form .btn:hover {
    color: #FFFFFF;
}

#fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#fields > div,
#fields > textarea {
    width: 47%;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

textarea {
    border: none;
    border-bottom: 1px solid black;
}

/* PROJECT PAGES STYLES */
.projtop {
    height: 90vh;
}

.projtopimg {
    width: 40%;
    height: 55vh;
}

#deets {
    align-items: flex-start;
}

#gallery {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-count: 3;
    -moz-column-gap: 1rem;
    column-count: 3;
    column-gap: 1rem;

    display: inline-block;
    height: auto;
    margin-bottom: 10vh;
}

#gallery img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    margin: 0 1rem 1rem 0;
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 2;
    -webkit-column-gap: 1rem;
    -moz-column-count: 2;
    -moz-column-gap: 1rem;
    column-count: 2;
    column-gap: 1rem;

    display: inline-block;
    height: auto;
    margin-bottom: 10vh;
}

#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    margin: 0 1rem 1rem 0;
}

/* REUSABLE STYLES */
h1,
h2,
h4,
h5,
a,
.btn {
    font-family: 'Montserrat', sans-serif;
    line-height: 0;
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.8em;
    font-weight: normal;
}

h4 {
    font-size: 1.2em;
}

h5 {
    line-height: 1;
    font-size: 0.8em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    padding: 0 1%;
}

a:hover {
    color: #77AFBD
}

a,
p {
    color: #C9C9C9;
}

p {
    padding: 0.5em 0;
}

.btn {
    color: #77AFBD;
    border: 2px solid #77AFBD;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    transition-duration: 0.4s;
}

.btn:hover {
    color: #111111;
    background-color: #77AFBD;
}

a,
.btn {
    font-size: 0.8em;
    font-weight: 500;
}

section {
    padding: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.width-50 {
    width: 50%;
}

.card {
    background: #FFFFFF;
    padding: 5%;
    display: flex;
}

.grey-bg {
    background-color: #191919;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.margintop-2rem {
    margin-top: 2rem;
}

strong {
    color: #77AFBD;
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.down {
    display: flex;
    flex-flow: column;
    align-items: center;
}



@media (max-width: 435px) {

    #abt-intro-btns {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #abt-intro-btns .btn {
        padding: 1.4rem 2rem;
        margin: 0.5em 0;
    }

}

@media (max-width: 655px) {

    #abt-intro-btns {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #abt-intro-btns .btn {
        padding: 1.4rem 2rem;
        margin: 0.5em 0;
    }


    /*---foot styles---*/

    .foot {
        height: 25vh !important;
        flex-direction: column;
        padding: 10% 0;
    }

    .totop {
        flex-grow: 0;
    }

}


@media (max-width: 1000px) {

    html {
        font-size: 1em;
        line-height: 1.6;
    }

    /*---nav styles---*/





    /*---homepage---*/

    .proj-img {
        width: 100%;
        height: 45%;
        margin: 0 0 5vh 0;
    }


    /*---project pages---*/

    .projtopimg {
        height: 45vh;
    }

    .desc2 {
        margin: 8vh 0 0 0;
    }

    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    #gallery {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    #about-intro,
    #contact-intro {
        flex-wrap: wrap;
    }

    /*---about styles---*/

    #about-summary {
        flex-wrap: wrap;
    }

    #about-summary .card {
        width: 100%
    }

    #skills {
        border-radius: 2rem 2rem 0 0;
    }

    #software {
        border-style: solid none solid none;
    }

    #languages {
        border-radius: 0 0 2rem 2rem;
    }


    /*---contact styles---*/
    #fields > div,
    #fields > textarea {
        width: 100%;
    }

    #fields > textarea {
        height: 20vh;
    }

    input[type=text] {
        margin-bottom: 2rem;
    }

    /*---reusable styles---*/

    h1,
    h2,
    h5 {
        line-height: 1;
        margin: 1rem 0 0 0;
    }

    .card {
        padding: 15%;
    }

    .width-50 {
        width: 100%;
    }

    .row {
        flex-wrap: wrap;
    }

    .margintop-2rem {
        margin-top: 1.5rem;
    }

    #getintouch,
    #about-img,
    #socials-img,
    #contact-img,
    .projtopimg,
    .desc2 {
        width: 100%;
        margin-left: 0;
    }


}


@media (min-width: 1650px) {
    section {
        padding: 0 30vw;
    }

    #about-me,
    #contact-me,
    #socials-section {
        padding: 10vh 30vw;
    }

    .col {}
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
